*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
     font-family: "Poppins", sans-serif;
     color: #dfdfd8;
}

.container{
    width: min(90%, 1120px);
    margin-inline: auto;
    
    
}
header{
    height: 72px;
    background-color:#fafaf6;
    position: sticky;
    top: 0;
    width: 100%;

}

.Desktop-menu{
    display: flex;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.Desktop-menu h1{
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    color: #2b2b2b;
    margin-left: 10px;
}

.menu-links{
    display: flex;
    gap: 20px;
}
.menu-links li{
    list-style: none;
}

.menu-links li a{
    text-decoration: none;
    color: #2b2b2b;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.menu-links li a:hover{
    color: #5f6ad4;

}


.Desktop-menu h1:hover{
    color: #5f6ad4;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.humberger{
    display: none;
}

.mobile-menu{
    display: none;
}

.menu-btn-actions{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.btn-primary, .btn-secondary{
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: #5f6ad4;
    border-radius: 10px;
    font-size: 1.25rem;
    margin: 7px;
    text-align: center;
}

.btn-secondary{
    background-color: transparent;
    border: #fafaf6 1px solid;
}
.hero{
     height: calc(100vh -  4.5rem);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-min-an-1234035.jpg') bottom/ cover no-repeat; 
    display: flex;
}

.hero .container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding-left: 15%;
    
}

.hero h1{
   font-size: 3rem;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 70px;
}
.btn{
    background-color: #5f6ad4;
    padding: 15px 60px;
    border-radius: 13px;
    border: none;
    color: #fafaf6;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
    cursor: pointer;

}
.btn:hover{
    background-color: #d1d1cf;
    color: black;
}

.yogo{
    height: 90vh;
    background-color: #5f6ad4;
    margin-top: 5rem;
    border-radius: 25px;
    background: linear-gradient(rgba(152, 151, 151, 0.5), rgba(111, 111, 111, 0.5)), url('https://images.unsplash.com/photo-1545389336-cf090694435e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fHlvZ2F8ZW58MHx8MHx8fDA%3D') center/ cover no-repeat;
    display: flex;
    align-items: flex-end;

}

.yogo .content{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
    max-width: 728px;
    color: white;
    gap: 30px;
    margin-bottom: 6rem;
}
.yogo .content h1{
    font-size: 2.8rem;
    text-align: center;
    font-weight: 700;
}

.yogo .content p{
    font-size: 1.5rem;
    text-align: center;

    font-weight: 700;
}

img{
    width: 100%;
    height: 50%;
}

.info-boxs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    margin-block: 6rem;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* padding: 0 1.25rem;
    margin: 0 1.25rem; */
}
.box h1{
    font-size: 1.5625rem; 
    color: #2b2b2b;
} 

.box p{
    font-size: 1.25rem;
    color: #646464; 
}

.box img{
    border-radius: 15px;
}

.prefect-condition{
    height: 438px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    background-attachment: fixed;
    background: linear-gradient(rgba(152, 151, 151, 0.5), rgba(111, 111, 111, 0.5)), url('https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-andrea-piacquadio-3779750.jpeg') center/cover no-repeat;
}

.prefect-condition h2{
    font-size: 2.5rem;
    color: #2a2a2a;
    margin-bottom: 2rem;
    font-weight: 400;
}
.prefect-condition p{
    font-size: 1.25rem;
    color: #2b2b2b;
    font-weight: 400;
}

.divine-yoga img{
    border-radius: 25px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.divine-yoga h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
    color: #2b2b2b;
    text-transform: uppercase;
}

.blog{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    margin-block: 6rem;
}

.container #blg{
    margin-top: 5rem;

    font-size: 2rem;
    text-align: center;
    color: #2b2b2b;
    font-weight: 500;
    text-transform: uppercase;
}

.blog img{
    border-radius: 15px;
}

.blog h2{
    font-size: 1.5rem;
    color: #2b2b2b;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.blog p{
    font-size: 1.125rem;
    color: #646464;
    margin-bottom: 2rem;
}

.yogo-classes{
    height: 355.188px;
    background: linear-gradient(rgba(152, 151, 151, 0.5), rgba(111, 111, 111, 0.5)), url('https://mobirise.com/extensions/retreatm5/outdoor-yoga-classes/assets/images/pexels-lucas-pezeta-2985098.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    margin-block: 5rem;
}

.yg{
    height: 50%;
    border: 2px solid #5f6ad4 ;
    background-color: #dfdfd8;
    justify-content: space-around;
    align-items: center;
    display: flex;
    color: #2a2a2a;
    border-radius: 15px;
    padding: 1rem;
    
}

.yg h2{
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
}

footer{
    background-color: #2a2a2a;
    padding: 25px;
    text-align: center;
    align-items: center;
    font-size: 1.25rem;
    color: #f8f8f8;

}


@media (max-width: 768px){
    .Desktop-menu{
        display: none;
    }

    header{
        height: 0;
    }

    i{
        z-index: 1000;
    }
    .humberger{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        background-color: #5f6ad4;
        top: 7%;
        right:5%;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        font-size: 1.7rem;
    }

    .mobile-menu{
        display: flex;
        position: fixed;
        background-color: #2b2b2b;
        inset: 0 0 0 0 ;
        justify-content: center;
        transform: translateX(0%);
        transition: 340ms ease-in-out;
    }
   .mobile-menu[data-visible="false"] {
        transform: translateX(100%);
    }

    .humberger i[data-visible="false"]{
        display: none;
    }
    .humberger i [data-visible="true"]{
        display: block;
    }
    .mobile-menu .navigation{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;
        gap: 15px;
        width: 100%;
        /* justify-content: center; */
    }

    .mobile-menu .navigation .menu-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobile-menu .navigation h1{
        border-bottom: white 1px solid;
        font-size: 37px;
        color: white;
        padding: 10px;
        
    }

    .mobile-menu .navigation .menu-links li a{
        color: white;

    }

    .hero{
        height: 100vh;
        padding-right: 50px;
       
       
    }

    .hero h1{
        font-size: 2rem;
        line-height: 43px;
        text-align: center;
        
        
    
    }

    .yogo .content h1{
        font-size: 1.8rem;
    }

    .yogo .content p{
        font-size: 1.2rem;
    
    }

    .yogo .content{
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .info-boxs{
        grid-template-columns: 1fr;
       
    }

    .prefect-condition h2{
    font-size: 1.8rem;

   
}
    .prefect-condition p{
    font-size: 1rem;
   
}

.blog{
    grid-template-columns: 1fr;
}

.yg{
    flex-direction: column;
    height: 70%;
    padding: 1rem;
}

.yg h2{
    font-size: 1.5rem;
    font-weight: 400;
}


    

}

